:root {
  background-color: #dde5f0;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(32, 32, 32);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #dde5f0;
  text-align: center;
  margin: auto;
  padding: auto;
}

footer {
  font-size: 22px;
  padding: 8px;
  -webkit-border-radius: 1px;
}

h1 {
  margin: 8px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
}

h2 {
  margin: 8px;
  font-size: 24px;
  color: rgb(31, 44, 36);
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 22px;
}
label {
  font-size: 24px;
  margin: 0;
  padding: 8px;
  cursor: pointer;
}

p {
  font-size: 24px;
  margin: 8px;
}

hr {
  margin: 8px;
}

.container {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
  max-width: 1280px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.container3 {
  padding: 0;
  -webkit-border-radius: 16px;
}

.timer {
  display: flex;
  position: absolute;
  right: 150px;
  top: 2px;
  border: #00b712 solid 2px;
  padding: 5px;
}

.button {
  color: black;
  font-size: 24px;
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  -webkit-border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  margin: 12px;
  padding: 8px;
}

.button:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transform: scale(1.01);
}

/* Easier to see what selector you are hovered over */
.questionLine:hover {
  opacity: 50%;
}

#initialsBox {
  height: 48px;
  font-size: 32px;
  text-align: center;
  width: 144px;
  background-color: rgb(115, 216, 94);
  border-color: rgb(0, 255, 64);
  -webkit-border-radius: 16px;
  margin-top: 15px;
  margin-bottom: 7px;
}

#card1, #card2 {
  background-color: rgb(152, 179, 158);
  -webkit-border-radius: 16px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: auto;
  width: 61%;
}

#question {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(109, 145, 117);
  border-radius: 16px 16px 0 0;
}

#feedback1 {
  padding-bottom: 15px;
  background-color: rgb(109, 145, 117);
  border-radius: 0 0 16px 16px;
}

/* Media query to enable the timer to move under the header instead of covering it */
@media (max-width: 998px) {
  .timer {
    position: inherit;
    display: block;
   text-align: center;
  }
}
